<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>联系我们</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/call.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-top.css">
    <link rel="stylesheet" href="../styles/master-bottom.css">   
</head>
<body>
    <div class='call'>
        <!--引入顶部母版页-->
            <div class='upper'>
        <div class='bg'>
            <div class='upper-top clearfix'>
                <div class='upper-top-l fl'>
                    <span class='fl-l'>欢迎来到美猴王平台</span>
                    <ul class='fl-r'>
                        <li class='fl-login'><a href="#">请登录</a></li>
                        <li class='fl-enroll'><a href="#">免费注册</a></li>
                    </ul>
                </div>
                <div class='upper-top-r fr'>
                    <ul class='collect'>
                        <li class='collect-first'>
                            <img src="../../img/erweima.png" alt="">
                            <a href="#">美猴王首页</a>
                        </li>
                        <li><a href="#">卖家中心</a></li>
                        <li><a href="#">用户中心</a></li>
                        <li><a href="#">收藏夹</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li class='collect-last'><a href="#">帮助</a></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class='bg1'>
            <div class='upper-center clearfix'>
                <div class='logo'>
                    <img src="../../img/Image2.jpg" alt="">
                </div>
                <div class='upper-center-center clearfix'>
                    <div class='huashe'>
                        <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                        <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                    </div>
                    <div class='attes'>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>商家认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信档案</p>
                        </div>
                    </div>
                    <div class='erwei'>
                        <img src="../../img/erweima.png" alt="">
                    </div>
                </div>
                <div class='search clearfix'>
                    <div class='search-t'>
                        <select>
                            <option value ="volvo">全站</option>
                            <option value ="saab">本店</option>
                        </select>
                        <!--<div class='select'>
                            <p>全站</p>
                            <i class="glyphicon glyphicon-xiala"></i>
                            <p>本店</p>
                        </div>-->
                        <input type="text">  
                        <button>搜索</button>
                    </div>
                    <div class='srarch-b'>
                        <ul>
                            <li><a href="#">面料</a></li>
                            <li><a href="#">服装</a></li>
                            <li><a href="#">螺丝刀</a></li>
                            <li><a href="#">美妆</a></li>
                            <li><a href="#">好人卡</a></li>
                            <li><a href="#">绿色大礼包</a></li>
                            <li class='srarch-b-last'><a href="#">礼盒</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan' style="background:url(../../img/tonglan.jpg) no-repeat center center;">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li>联系我们</li>
            </ul> 
        </div>
    </div>
    </div>
    <div class='main clearfix'>
        <div class='main-top'>
            <p>联系我们</p>
        </div> 
        <div class='main-center'>
            <div class='main-center-left'>
                <li><span>联 系 人:</span>&nbsp;&nbsp;<p>余鑫</p></li>
                <li><span>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:</span>&nbsp;&nbsp;<p>15263598655</p></li>
                <li><span>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址:</span>&nbsp;&nbsp;<p>浙江省绍兴市柯桥区华舍山阴路武警部队对面</p></li>
            </div>
            <div class='main-center-right'>
                <li><span>座&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机:</span>&nbsp;&nbsp;<p>0751-568978</p></li>
                <li><span>邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱:</span>&nbsp;&nbsp;<p>15263598655@163.com</p></li>
                <li><span>公司主页:</span>&nbsp;&nbsp;<p class='p-teshu'><a href="https://www.baidu.com">https://www.baidu.com</a></p></li>
            </div>
        </div> 
        <div class='main-bot' data-long='120.19' data-lat='30.26' id='main-bot'>
            
        </div> 
    </div>
    <!--引入底部母版页-->
        <div class='root'>
        <p class='root-f'>绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市浙江省绍兴市柯桥区华舍山阴路武警部队对面浙江省绍兴市柯桥区华舍山阴路武警部队对面柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-t'>增值电信业务经营许可证:京ICP证010051号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
    </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fCMAB6X3bmklpuBcoKchVeDcSDZp3tun"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
<script type="text/javascript">
    var map = new BMap.Map('main-bot')
    var point = new BMap.Point($('#main-bot').attr('data-long'), $('#main-bot').attr('data-lat'))
    map.centerAndZoom(point, 15)
    var marker = new BMap.Marker(point)
    map.addOverlay(marker)
</script>
</html>