<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司档案</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/dossier.css">
    <link rel="stylesheet" href="../styles/master-top.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-bottom.css">
</head>
<body>
    <div class='dossier'>
        <!--顶部开始-->
         <!--这里插入顶部母版页-->
    <div class='upper'>
        <div class='bg'>
            <div class='upper-top clearfix'>
                <div class='upper-top-l fl'>
                    <span class='fl-l'>欢迎来到美猴王平台</span>
                    <ul class='fl-r'>
                        <li class='fl-login'><a href="#">请登录</a></li>
                        <li class='fl-enroll'><a href="#">免费注册</a></li>
                    </ul>
                </div>
                <div class='upper-top-r clearfix fr'>
                    <ul class='collect clearfix'>
                        <li class='collect-first clearfix'>
                            <img src="../../img/erweima.png" alt="">
                            <a href="#">美猴王首页</a>
                        </li>
                        <li><a href="#">进货单</a></li>
                        <li class='x_li_drop-down'>
                            <a href="#">我的美猴王<i class="glyphicon glyphicon-down"></i></a>
                            <ul class='collect-ul'>
                                <li><a href="###">卖家中心</a></li>
                                <li><a href="###">买家中心</a></li>
                            </ul>
                        </li>
                        <li class='x_li_drop-down'>
                            <a href="#">网销通<i class="glyphicon glyphicon-down"></i></a>
                            <ul class='collect-ul'>
                                <li><a href="###">五网合一</a></li>
                                <li><a href="###">全网引流</a></li>
                                <li><a href="###">诚信认证</a></li>
                            </ul>
                        </li>
                        <li class='x_li_drop-down'>
                            <a href="#">客服中心<i class="glyphicon glyphicon-down"></i></a>
                            <ul class='collect-ul'>
                                <li><a href="###">新手入门</a></li>
                                <li><a href="###">买家帮助</a></li>
                                <li><a href="###">卖家帮助</a></li>
                                <li><a href="###">在线咨询</a></li>
                            </ul>
                        </li>
                        <li class='collect-last'><a href="#">收藏夹</a></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class='bg1'>
            <div class='upper-center clearfix'>
                <div class='logo'>
                    <img src="../../img/logo.jpg" alt="">
                </div>
                <div class='upper-center-center clearfix'>
                    <div class='huashe'>
                        <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                        <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                    </div>
                    <div class='attes'>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>商家认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信档案</p>
                        </div>
                    </div>
                    <div class='erwei'>
                        <i class="glyphicon glyphicon-erweima"></i>
                    </div>
                </div>
                <div class='search clearfix'>
                    <div class='search-t'>
                        <select>
                            <option value ="volvo">全站</option>
                            <option value ="saab">本店</option>
                        </select>
                        <input type="text">  
                        <button>搜索</button>
                    </div>
                    <div class='srarch-b'>
                        <ul>
                            <li><a href="#">面料</a></li>
                            <li><a href="#">服装</a></li>
                            <li><a href="#">螺丝刀</a></li>
                            <li><a href="#">美妆</a></li>
                            <li><a href="#">好人卡</a></li>
                            <li><a href="#">绿色大礼包</a></li>
                            <li class='srarch-b-last'><a href="#">礼盒</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan' style="background:url(../../img/tonglan.jpg) no-repeat center center;">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li>联系我们</li>
            </ul> 
        </div>
    </div>
        <!--顶部结束-->
        
        <!--主体开始-->
        <div class='main'>
            <div class='information'>
                <div class='infor-case'>基本信息</div>
                <div class='infor-img'>
                    <img src="../../img/tonglan.jpg" alt="">
                </div>
                <div class='infor-shao clearfix'>
                    <p class='infor-shao-p'>绍兴市柯桥区华舍余鑫家纺厂位于经济富裕、工业发达的城市—绍兴市。工厂占地面积15000多平方米。建筑面积10000多平方米，坐落在329国道旁，交通十分便利。 为提高科技含量和产品质量，本厂特聘请了多名工程师及技术人员，给予技术把关。并引进国内先进的机械设备，设计和制造脱水机，定时器系列产品，产品销往全国各地。 本厂地理位置优越，生产设备先进，技术力量浓厚，产品全部通过ISO9001-2000国家质量体系认证和CQC产品认证，质量可靠，并为用户定制各种规格定时器，深受广大客户好评。 本厂宗旨：质量第一 信誉至上 公司携全体员工定制各种规格定时器，深受广大客户好评。 本厂宗旨：质量第一 信誉至上 公司携全体员工定制各种规格定时器，深受广大客户好评。 本厂宗旨：质量第一 信誉至上 公司携全体员工</p>
                    <span class='infor-shao-xiahua'></span>
                    <div class='accred'>
                        <li>
                            <span>成立时间：</span>
                            <span>2017-07-07</span>
                            <span>[认证]</span>
                        </li>
                        <li>
                            <span>注册资本：</span>
                            <span>人民币1200万元</span>
                            <span>[已认证]</span>
                        </li>
                        <li>
                            <span>经营范围：</span>
                            <p class='accred-teshu' onmouseover="this.title='服装纺织，琴，棋，书，画，诗，酒，茶服装纺织房子房子纺织'">服装纺织，琴，棋，书，画，诗，酒，茶服装纺织房子房子纺织</p>
                            <span>[已认证]</span>
                        </li>
                        <li>
                            <span>注册地址：</span>
                            <p class='accred-teshu' onmouseover="this.title='中国浙江嘉兴南湖区余新中国浙江嘉兴南中国浙江嘉兴南镇余凤公路北侧5幢4'">中国浙江嘉兴南湖区余新中国浙江嘉兴南中国浙江嘉兴南镇余凤公路北侧5幢4</p>
                            <span>[已认证]</span>
                        </li>
                        <li class='accred-last'>查看认证详情></li>
                    </div>
                </div>
            </div>      
            <div class='promise'>
                <div class='promise-case'>
                    <span>诚信档案</span>
                    <img src="../../img/wenhao.png" alt="">
                </div>
                <div class='promise-level clearfix'>
                    <div class='promise-ji'>
                        <div class='promise-ji-img'>
                            <img src="../../img/biaopan.png" alt="">
                            <div class='wujiao'>★ ★ ★ ★ ★</div>  
                            <i>更新时间:2017-08-11 15:18:41</i>
                            <span>极好</span> 
                        </div>                    
                        <p>*上述等级为诚信等级，由浙江盘石信息技术股份有限公司提供</p>
                    </div>  
                    <span class='promise-level-xiahua'></span>
                    <div class='promise-chakan'> 
                        <div class='promise-chakan-top'>查看诚信档案</div>
                        <div class='promise-chakan-dian'>
                            <div class='platform'>
                                <img src="../../img/dianpu.png" alt="">
                                <p>美猴王平台经营店铺</p>
                                <span>1个</span>
                            </div>
                            <div class='platform'>
                                <img src="../../img/shixin.png" alt="">
                                <p>失信记录</p>
                                <span>1个</span>
                            </div>
                            <div class='platform'>
                                <img src="../../img/biangeng.png" alt="">
                                <p>工商变更记录</p>
                                <span>1个</span>
                            </div>
                        </div>
                        <img class='promise-chakan-fu' src="../../img/wenhao.png" alt="">
                    </div>
                </div>

                <!--鼠标经过提示框-->
                <div class='promise-tishi1'>
                    诚信档案技术以及数据来源由浙江盘石火眼金睛提供。
                    火眼金睛企业档案利用独有的大数据技术，云计算技
                    术对企业信息进行海量处理，设立第三方电子档案库，
                    帮助中小企业更好的展示信息，有效提升企业品牌。
                </div>

                <div class='promise-tishi2'>
                    失信信息指企业被纳入全国工商
                    总局发布的“严重违法失信企业
                    名单”的相关信息
                </div>
            </div>
        </div>
        <!--主体结束-->

        <!--查看认证详情模态框开始-->
        <div class="m-modal">
			<div class="m-modal-dialog">
				<div class="m-top">
					<h4 class="m-modal-title">
						<span>诚信认证信息</span>
                        <span>该信息于2011年11月11日通过盘石平台专业认证</span>
					</h4>
					<span class="m-modal-close m-close">&times;</span>
				</div>
				<div class="m-middle">
					<div class='m-middle-left'>
                        <li><span>公 司 名 称:</span>&nbsp;&nbsp;<p onmouseover="this.title='服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织'">服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织>绍兴市柯桥区华舍余鑫家纺厂</p></li>
                        <li><span>注 册 资 本:</span>&nbsp;&nbsp;<p>人民币1200万元</p></li>
                        <li><span>法定代表人:</span>&nbsp;&nbsp;<p>宇鑫</p></li>
                        <li><span>登 记 机 关:</span>&nbsp;&nbsp;<p onmouseover="this.title='绍兴市柯桥区华舍余鑫家纺厂柯桥区华舍余鑫家纺厂'">暂无</p></li>
                        <li><span>营 业 期 限:</span>&nbsp;&nbsp;<p onmouseover="this.title='绍兴市柯桥区华舍余鑫家纺厂柯桥区华舍余鑫家纺厂'">暂无</p></li>
                        <li><span>经 营 范 围:</span>&nbsp;&nbsp;<p onmouseover="this.title='服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织'">服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织服装纺织</p></li>
                    </div>
                    <div class='m-middle-right'>
                        <li><span>注 册 地 址:</span>&nbsp;<p  onmouseover="this.title='绍兴市柯桥区华舍余鑫家纺厂柯桥区华舍余鑫家纺厂'">绍兴市柯桥区华舍余鑫家纺厂柯桥区华舍余鑫家纺厂</p></li>
                        <li><span>成 立 日 期:</span>&nbsp;<p>暂无</p></li>
                        <li><span>注 册 号:</span>&nbsp;<p>123456789</p></li>
                        <li><span>企 业 类 型:</span>&nbsp;<p>个体经营</p></li>
                    </div>					
				</div>
                <img src="../../img/renzhengzhang.png" alt="">
                <p class='m-bot'>有效期至2018-01-01</p>
                <div class='btn1'>前往认证</div>
			</div>
		</div>
        <!--查看认证详情模态框结束-->

        <!--查看诚信档案模态框开始-->
         <div class="m-modal2">
			<div class="m-modal2-dialog">
				
			</div>
		</div>
        <!--查看诚信档案模态框结束-->

        <!--底部开始-->
        <!--这里插入底部母版页-->
            <div class='root'>
        <p class='root-f'>绍兴市柯桥区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-t'>增值电信业务经营许可证:京ICP证010051号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
    </div>
        <!--底部结束-->
    </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/rem.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/dossier.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
</html>