<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/lunbo-css/bannerList.css">
    <link rel="stylesheet" href="../styles/master-left.css">
    <link rel="stylesheet" href="../styles/master-top.css">
    <link rel="stylesheet" href="../styles/master-bottom.css">
</head>
<body>
    <div>
        <!--插入头部-->
    <div class='upper'>
        <div class='bg'>
            <div class='upper-top clearfix'>
                <div class='upper-top-l fl'>
                    <span class='fl-l'>欢迎来到美猴王平台</span>
                    <ul class='fl-r'>
                        <li class='fl-login'><a href="#">请登录</a></li>
                        <li class='fl-enroll'><a href="#">免费注册</a></li>
                    </ul>
                </div>
                <div class='upper-top-r fr'>
                    <ul class='collect'>
                        <li class='collect-first'>
                            <img src="../../img/erweima.png" alt="">
                            <a href="#">美猴王首页</a>
                        </li>
                        <li><a href="#">卖家中心</a></li>
                        <li><a href="#">用户中心</a></li>
                        <li><a href="#">收藏夹</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li class='collect-last'><a href="#">帮助</a></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class='bg1'>
            <div class='upper-center clearfix'>
                <div class='logo'>
                    <img src="../../img/Image2.jpg" alt="">
                </div>
                <div class='upper-center-center clearfix'>
                    <div class='huashe'>
                        <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                        <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                    </div>
                    <div class='attes'>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>商家认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信档案</p>
                        </div>
                    </div>
                    <div class='erwei'>
                        <img src="../../img/erweima.png" alt="">
                    </div>
                </div>
                <div class='search clearfix'>
                    <div class='search-t'>
                        <select>
                            <option value ="volvo">全站</option>
                            <option value ="saab">本店</option>
                        </select>
                        <!--<div class='select'>
                            <p>全站</p>
                            <i class="glyphicon glyphicon-xiala"></i>
                            <p>本店</p>
                        </div>-->
                        <input type="text">  
                        <button>搜索</button>
                    </div>
                    <div class='srarch-b'>
                        <ul>
                            <li><a href="#">面料</a></li>
                            <li><a href="#">服装</a></li>
                            <li><a href="#">螺丝刀</a></li>
                            <li><a href="#">美妆</a></li>
                            <li><a href="#">好人卡</a></li>
                            <li><a href="#">绿色大礼包</a></li>
                            <li class='srarch-b-last'><a href="#">礼盒</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan' style="background:url(../../img/tonglan.jpg) no-repeat center center;">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li>联系我们</li>
            </ul> 
        </div>
    </div>
        <!--轮播图开始-->
        <div class="banner">
            <ul>
                <!--<li><a href=""><img src="../../img/lunbo1.jpg" alt=""></a></li>
                <li><a href=""><img src="../../img/lunbo2.jpg" alt=""></a></li>
                <li><a href=""><img src="../../img/lunbo3.jpg" alt=""></a></li>-->

                <li><a href="" style="background:url(../../img/lunbo1.jpg) no-repeat center center;"></a></li>
                <li><a href="" style="background:url(../../img/lunbo2.jpg) no-repeat center center;"></a></li>
                <li><a href="" style="background:url(../../img/lunbo3.jpg) no-repeat center center;"></a></li>
            </ul>
            <!--<div class="left-btn"></div>
            <div class="right-btn"></div>-->
            <div class="img-btn-list"></div>
        </div>
        <!--轮播图结束-->
        <div class='main clearfix'>
            <div class='insertleft'>
                    <!--这里插入左侧母版页-->
                        <div class='record'>
        <div class='company'>
            <div class='company-record'>企业档案</div>
            <div class='company-shaoxing'>绍兴市柯桥区华舍余鑫家纺厂</div>
            <div class='information'>
                <li class='information-block'>余鑫&nbsp;&nbsp;先生</li>
                <li class='information-block'>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;&nbsp;&nbsp;0571-86191919</li>
                <li class='information-block' onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">经营范围: 服装纺织服装纺织服装纺织</li>
                <li class='information-block'>成立时间: 2017-07-01</li>
                <li class='information-block'>所在地区: 浙江省绍兴市</li>
                <li class='information-block' onmouseover="this.title='河南省商丘市柘城县工商局认证'">工商注册信息: 河南省商丘市柘城县工商局认证</li>
            </div>
            <div class='collect1'>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-collect-in"></i><p>收藏公司</p>
                </div>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-chart"></i><p>在线咨询</p>
                </div>
            </div>
        </div>

        <div class='product clearfix'>
            <div class='company-record'>产品分类</div>
            <ul class='company-caidan'>
                <li class="firstt">
                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>办公桌椅</p>
                    <ul class='teshu clearfix'>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>婚用座椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>欧式餐桌</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>电脑桌椅</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>吧台桌椅</p></li>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>创意桌椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--模态框开始-->
        <div class="m-modal1">
            <div class="m-modal-dialog1 clearfix">
                <div class='modal-main-left1'>
                    <div class='modal-left-top'>
                        <p>给我留言</p>
                    </div>
                    <div class='modal-main-more'>
                        <p>注:</p>
                        <p>1.商家会在24小时内与您联系，请确保手机畅通。</p>
                        <p>2.盘石平台会确保您的手机号码不被泄露给其他平台，请放心填写。</p>
                    </div>
                    <div class='modal-main-rad'>
                        <p>留言主题:</p> 
                        <form action="" method="get">
                            <label><input name="liuyan" type="radio" value="" /> 价格 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 物流咨询 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 售后 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 商品详情 </label>
                        </form> 
                    </div>
                </div>
                <div class='modal-main-right1'>
                    <div class='modal-main-shao'>
                        <p>绍兴市柯桥市区华舍宇鑫家纺厂舍宇鑫家纺厂</p>
                        <div class="m-modal-close1 m-close">&times;</div>
                    </div>
                    <div class='modal-main-content'>
                        <div class='modal-main-content-top'>
                            <p>具体称呼</p>
                            <input type="text">
                        </div>
                        <div class='modal-main-content-top'>
                            <p>手机号码</p>
                            <input type="text" id='phone'>
                        </div>
                        <div class='modal-main-content-bottom'>
                            <p>留言详情</p>
                            <textarea></textarea>
                        </div>
                        <p>
                            <span></span> /
                            <span>200</span>
                        </p>
                        <div class='modal-main-content-go'>
                            发 送
                        </div>
                    </div>

                </div>
            </div>   
		</div>
        <!--模态框结束-->
    </div>
            </div>
            <div class='insertright'>
                <div class='insertright-top'>
                    <div class='insertright-center-introduce'>
                        <span>公司介绍</span>
                        <span>更多></span>
                    </div>
                    <div class='insertright-top-shao'>绍兴市柯桥家纺厂位绍兴市柯桥绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯家纺厂位绍兴市柯桥绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂位绍兴市柯桥绍兴市柯桥区华舍区华舍余鑫家纺厂绍兴市柯桥区华舍余鑫家纺厂绍兴市柯桥区华舍余鑫家纺厂区华舍余鑫家纺厂绍兴市柯桥区华舍余鑫家纺厂于经济华舍余鑫家纺厂位于经济富裕、工业发达的浙东沿海城市—慈溪市。工厂占地面积华舍余鑫家纺厂位于经济富裕、工业发达的浙东沿海城市—慈溪市。工厂占地面积富裕、工业发达的浙东沿海城市—慈溪市。工厂占地面积15000多平方米。建筑面积10000多平方米，坐落在329国道旁，交通十分便利。 为提高科技含量和产品质量，本厂特聘请了多名工程师及技术人员，给予技术把关。并引进国内先进的机械设备，设计和制造脱水机，定时器系列产品，产品销往全国各地。 本厂地理位置优越，生产设备先进，技术力量浓厚，产品全部通过ISO9001-2000国家质量体系认证和CQC产品认证产品全部通过ISO9001-2000国家质量体系认证和CQC产品认证，质量可靠，并为用户定制各种规格定时器，深受广大客户好评。 本厂宗旨：质量第一 信誉至上 公司携全体员工 产品销往全国各地。 本厂地理位置优越，生产设备先进，技术力量浓厚，产品全部通过ISO9001-2000国家质量体系认证和CQC产品认证</div>
                </div>
                <div class='insertright-center'>
                    <div class='insertright-center-introduce'>
                        <span>推荐产品</span>
                        <span>更多></span>
                    </div>
                    <div class='insertright-center-img'>
                        <li class="ih-item">
                            <a href="">
                                <img src="../../img/product.jpg" alt="">
                                <div class="info">     
                                    <div class='info-strom'>
                                        <p onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">厂家直销 儿童台厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布布 主题酒店桌布 台布布宝宝宴卡夫卡布布料批发</p>
                                        <p>￥25.00</p>
                                    </div>  
                                </div>
                            </a>
                        </li>
                        <li  class="ih-item">
                            <a href="">
                                <img src="../../img/product.jpg" alt="">
                                <div class="info">     
                                    <div class='info-strom'>
                                        <p onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡夫卡布布料批发</p>
                                        <p>￥25.00</p>
                                    </div>  
                                </div>
                            </a>
                        </li>
                        <li  class="ih-item">
                            <a href="">
                                <img src="../../img/product.jpg" alt="">
                                <div class="info">     
                                    <div class='info-strom'>
                                        <p onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡夫卡布布料批发</p>
                                        <p>￥25.00</p>
                                    </div>  
                                </div>
                            </a>
                        </li>
                        <li  class="ih-item">
                            <a href="">
                                <img src="../../img/product.jpg" alt="">
                                <div class="info">     
                                    <div class='info-strom'>
                                        <p onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">厂家直销 儿厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布童台布 主题酒店桌布 台布布宝宝宴卡夫卡布布料批发</p>
                                        <p>￥25.00</p>
                                    </div>  
                                </div>
                            </a>
                        </li>
                    </div>
                </div>
                <div class='insertright-bottom clearfix'>
                    <div class='insertright-center-introduce'>
                        <span>最新产品</span>
                        <span>更多></span>
                    </div>
                    <div class='insertright-bottom-img'>
                        <li>
                            <a href="">
                                <img src="../../img/case.png" alt="">
                                <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布台布</p>
                                <p class='insertright-bottom-p2'>￥51.00</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../img/case.png" alt="">
                                <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                                <p class='insertright-bottom-p2'>￥51.00</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../img/case.png" alt="">
                                <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                                <p class='insertright-bottom-p2'>￥51.00</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../img/case.png" alt="">
                                <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                                <p class='insertright-bottom-p2'>￥51.00</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="../../img/case.png" alt="">
                                <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                                <p class='insertright-bottom-p2'>￥51.00</p>
                            </a>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!--这里插入底部母版页-->
        <div class='root'>
        <p class='root-f'>绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市浙江省绍兴市柯桥区华舍山阴路武警部队对面浙江省绍兴市柯桥区华舍山阴路武警部队对面柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-t'>增值电信业务经营许可证:京ICP证010051号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
    </div>
    </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/rem.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
<script type="text/javascript" src="../js/master-left.js"></script>
<script type="text/javascript" src="../js/bannerList.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/home.js"></script>
</html>