<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>底部母版页</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/master-bottom.css">
</head>
<body>
    <div class='root'>
        <p class='root-f'>绍兴市柯桥绍兴市柯桥区华舍余鑫家纺厂区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市浙江省绍兴市柯桥区华舍山阴路武警部队对面浙江省绍兴市柯桥区华舍山阴路武警部队对面柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-c'>增值电信业务经营许可证:京ICP证010051号</p>
        <p class='root-t'>隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
    </div>
</body>
</html>