<!DOCTYPE html>
<html lang="en">
<head>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>顶部母版页</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-top.css">
</head>
<body>
    <div class='upper'>
        <div class='bg'>
            <div class="x_top_box">
                <div class="x_top w1200">
                    <span class="x_top_sp1">欢迎来到美猴王批发市场</span>
                    <a class="x_top_login" href="#">请登录</a>
                    <a class="x_top_sign" href="#">免费注册</a>
                    <ul class="clearfix x_top_ul">
                        <li><a href="#"><img class='x_top_ul_img' src="../../img/mhw.jpg" alt="">进货单</a></li>
                        <li><a href="#">进货单</a></li>
                        <li class="x_li_drop-down"><a href="#">我的美猴王<i class="nav_i"></i></a>
                            <ul class="x_t_nav_ul clearfix">
                                <li><a href="###">卖家中心</a></li>
                                <li><a href="###">买家中心</a></li>
                            </ul>
                        </li>
                        <li class="x_li_drop-down"><a href="#">网销通<i class="nav_i"></i></a>
                            <ul class="x_t_nav_ul clearfix">
                                <li><a href="###">五网合一</a></li>
                                <li><a href="###">全网引流</a></li>
                                <li><a href="###">诚信认证</a></li>
                            </ul>
                        </li>
                        <li class="x_li_drop-down"><a class="lasta" href="#">客服中心<i class="nav_i"></i></a>
                            <ul class="x_t_nav_ul clearfix">
                                <li><a href="###">新手入门</a></li>
                                <li><a href="###">买家帮助</a></li>
                                <li><a href="###">卖家帮助</a></li>
                                <li><a href="###">在线咨询</a></li>
                            </ul>
                        </li>
                        <li><a href="#">收藏夹</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class='bg1'>
            <div class='upper-center clearfix'>
                <div class='logo'>
                    <img src="../../img/logo.jpg" alt="">
                </div>
                <div class='upper-center-center clearfix'>
                    <div class='huashe'>
                        <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                        <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                    </div>
                    <div class='attes'>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>商家认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信档案</p>
                        </div>
                    </div>
                    <div class='erwei'>
                        <i class="glyphicon glyphicon-erweima"></i>
                    </div>
                </div>
                <div class='search clearfix'>
                    <div class='search-t'>
                        <select>
                            <option value ="volvo">全站</option>
                            <option value ="saab">本店</option>
                        </select>
                        <input type="text">  
                        <button>搜索</button>
                    </div>
                    <div class='srarch-b'>
                        <ul>
                            <li><a href="#">面料</a></li>
                            <li><a href="#">服装</a></li>
                            <li><a href="#">螺丝刀</a></li>
                            <li><a href="#">美妆</a></li>
                            <li><a href="#">好人卡</a></li>
                            <li><a href="#">绿色大礼包</a></li>
                            <li class='srarch-b-last'><a href="#">礼盒</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan' style="background:url(../../img/tonglan.jpg) no-repeat center center;">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li>联系我们</li>
            </ul> 
        </div>
    </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
</html>