<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>母版页左侧</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-left.css">
</head>
<body>
    <div class='record'>
        <div class='company'>
            <div class='company-record'>企业档案</div>
            <div class='company-shaoxing' onmouseover="this.title='绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂余鑫家纺厂'">绍兴市柯桥区绍兴市柯桥区华舍余鑫家纺厂华舍余鑫家纺厂</div>
            <div class='information'>
                <li class='information-block'>余鑫&nbsp;&nbsp;先生</li>
                <li class='information-block' onmouseover="this.title='0571-86191919'">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;&nbsp;&nbsp;0571-86191919</li>
                <li class='information-block' onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">经营范围: 服装纺织服装纺织服装纺织</li>
                <li class='information-block' onmouseover="this.title='2017-07-01'">成立时间: 2017-07-01</li>
                <li class='information-block1' onmouseover="this.title='浙江省绍兴市'">所在地区: 浙江省绍兴浙江省绍兴市浙江省绍兴市浙江省绍兴市市</li>
                <li class='information-block1' onmouseover="this.title='河南省商丘市柘城县工商局认证'">工商注册信息: 河南省商丘市柘河南省商丘市柘城县工商局认证河南省商丘市柘城县工商局认证城县工商局认证</li>
            </div>
            <div class='collect1'>
                <div class='collect1-store clearfix'>
                    <i class="glyphicon glyphicon-collect-in"></i><p>收藏公司</p>
                </div>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-chart"></i><p>在线咨询</p>
                </div>
            </div>
        </div>

        <div class='product clearfix'>
            <div class='company-record'>产品分类</div>
            <ul class='company-caidan'>
                <li class="firstt">
                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>办公桌椅</p>
                    <ul class='teshu clearfix'>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen' onmouseover="this.title='婚用办公桌椅办公桌椅办公桌椅办公桌椅座椅'" >婚用办公桌椅办公桌椅办公桌椅办公桌椅座椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>欧式餐桌</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>电脑桌椅</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>吧台桌椅</p></li>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>创意桌椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--模态框开始-->
        <div class="m-modal1">
            <div class="m-modal-dialog1 clearfix">
                <div class='modal-main-left1'>
                    <div class='modal-left-top'>
                        <p>给我留言</p>
                    </div>
                    <div class='modal-main-more'>
                        <p>注:</p>
                        <p>1.商家会在24小时内与您联系，请确保手机畅通。</p>
                        <p>2.盘石平台会确保您的手机号码不被泄露给其他平台，请放心填写。</p>
                    </div>
                    <div class='modal-main-rad'>
                        <p>留言主题:</p> 
                        <form action="" method="get">
                            <label><input name="liuyan" checked = true type="radio" value="" /> 价格 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 物流咨询 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 售后 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 商品详情 </label>
                        </form> 
                    </div>
                </div>
                <div class='modal-main-right1'>
                    <div class='modal-main-shao'>
                        <p>绍兴市柯桥市区华舍宇鑫家纺厂舍宇鑫家纺厂</p>
                        <div class="m-modal-close1 m-close">&times;</div>
                    </div>
                    <div class='modal-main-content'>
                        <div class='modal-main-content-top'>
                            <p>具体称呼</p>
                            <input type="text">
                        </div>
                        <div class='modal-main-content-top'>
                            <p>手机号码</p>
                            <input type="text" id='phone'>
                        </div>
                        <div class='modal-main-content-bottom'>
                            <p>留言详情</p>
                            <textarea></textarea>
                        </div>
                        <p>
                            <span></span> /
                            <span>200</span>
                        </p>
                        <div class='modal-main-content-go m-close'>
                            发 送
                        </div>
                    </div>

                </div>
            </div>   
		</div>
        <!--模态框结束-->
    </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/master-left.js"></script>
</html>