<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>供应产品</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/product.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-top.css">
    <link rel="stylesheet" href="../styles/master-left.css">
    <link rel="stylesheet" href="../styles/master-bottom.css">   
</head>
<body>
    <div>
        <!--引入顶部-->
            <div class='upper'>
        <div class='bg'>
            <div class='upper-top clearfix'>
                <div class='upper-top-l fl'>
                    <span class='fl-l'>欢迎来到美猴王平台</span>
                    <ul class='fl-r'>
                        <li class='fl-login'><a href="#">请登录</a></li>
                        <li class='fl-enroll'><a href="#">免费注册</a></li>
                    </ul>
                </div>
                <div class='upper-top-r fr'>
                    <ul class='collect'>
                        <li class='collect-first'>
                            <img src="../../img/erweima.png" alt="">
                            <a href="#">美猴王首页</a>
                        </li>
                        <li><a href="#">卖家中心</a></li>
                        <li><a href="#">用户中心</a></li>
                        <li><a href="#">收藏夹</a></li>
                        <li><a href="#">网站导航</a></li>
                        <li class='collect-last'><a href="#">帮助</a></li>
                    </ul>
                </div>
            </div>  
        </div>
        <div class='bg1'>
            <div class='upper-center clearfix'>
                <div class='logo'>
                    <img src="../../img/Image2.jpg" alt="">
                </div>
                <div class='upper-center-center clearfix'>
                    <div class='huashe'>
                        <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                        <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                    </div>
                    <div class='attes'>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>商家认证</p>
                        </div>
                        <div class='attes-a'>
                            <img src="../../img/Image2.jpg" alt="">
                            <p>诚信档案</p>
                        </div>
                    </div>
                    <div class='erwei'>
                        <img src="../../img/erweima.png" alt="">
                    </div>
                </div>
                <div class='search clearfix'>
                    <div class='search-t'>
                        <select>
                            <option value ="volvo">全站</option>
                            <option value ="saab">本店</option>
                        </select>
                        <!--<div class='select'>
                            <p>全站</p>
                            <i class="glyphicon glyphicon-xiala"></i>
                            <p>本店</p>
                        </div>-->
                        <input type="text">  
                        <button>搜索</button>
                    </div>
                    <div class='srarch-b'>
                        <ul>
                            <li><a href="#">面料</a></li>
                            <li><a href="#">服装</a></li>
                            <li><a href="#">螺丝刀</a></li>
                            <li><a href="#">美妆</a></li>
                            <li><a href="#">好人卡</a></li>
                            <li><a href="#">绿色大礼包</a></li>
                            <li class='srarch-b-last'><a href="#">礼盒</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan' style="background:url(../../img/tonglan.jpg) no-repeat center center;">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li>联系我们</li>
            </ul> 
        </div>
    </div>
        <!--引入顶部-->

        <!--主体开始     -->
        <div class='main clearfix'>
            <div class='insertleft'>
                <!--这里插入左侧母版页-->
                <div class='record'>
        <div class='company'>
            <div class='company-record'>企业档案</div>
            <div class='company-shaoxing' onmouseover="this.title='绍兴市柯桥区华舍绍兴市柯桥区华舍余鑫家纺厂余鑫家纺厂'">绍兴市柯桥区绍兴市柯桥区华舍余鑫家纺厂华舍余鑫家纺厂</div>
            <div class='information'>
                <li class='information-block'>余鑫&nbsp;&nbsp;先生</li>
                <li class='information-block' onmouseover="this.title='0571-86191919'">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;&nbsp;&nbsp;0571-86191919</li>
                <li class='information-block' onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">经营范围: 服装纺织服装纺织服装纺织</li>
                <li class='information-block' onmouseover="this.title='2017-07-01'">成立时间: 2017-07-01</li>
                <li class='information-block' onmouseover="this.title='浙江省绍兴市'">所在地区: 浙江省绍兴市</li>
                <li class='information-block' onmouseover="this.title='河南省商丘市柘城县工商局认证'">工商注册信息: 河南省商丘市柘城县工商局认证</li>
            </div>
            <div class='collect1'>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-collect-in"></i><p>收藏公司</p>
                </div>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-chart"></i><p>在线咨询</p>
                </div>
            </div>
        </div>

        <div class='product clearfix'>
            <div class='company-record'>产品分类</div>
            <ul class='company-caidan'>
                <li class="firstt">
                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>办公桌椅</p>
                    <ul class='teshu clearfix'>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen' onmouseover="this.title='婚用办公桌椅办公桌椅办公桌椅办公桌椅座椅'" >婚用办公桌椅办公桌椅办公桌椅办公桌椅座椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>欧式餐桌</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>电脑桌椅</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>吧台桌椅</p></li>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>创意桌椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--模态框开始-->
        <div class="m-modal1">
            <div class="m-modal-dialog1 clearfix">
                <div class='modal-main-left1'>
                    <div class='modal-left-top'>
                        <p>给我留言</p>
                    </div>
                    <div class='modal-main-more'>
                        <p>注:</p>
                        <p>1.商家会在24小时内与您联系，请确保手机畅通。</p>
                        <p>2.盘石平台会确保您的手机号码不被泄露给其他平台，请放心填写。</p>
                    </div>
                    <div class='modal-main-rad'>
                        <p>留言主题:</p> 
                        <form action="" method="get">
                            <label><input name="liuyan" checked = true type="radio" value="" /> 价格 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 物流咨询 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 售后 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 商品详情 </label>
                        </form> 
                    </div>
                </div>
                <div class='modal-main-right1'>
                    <div class='modal-main-shao'>
                        <p>绍兴市柯桥市区华舍宇鑫家纺厂舍宇鑫家纺厂</p>
                        <div class="m-modal-close1">&times;</div>
                    </div>
                    <div class='modal-main-content'>
                        <div class='modal-main-content-top'>
                            <p>具体称呼</p>
                            <input type="text">
                        </div>
                        <div class='modal-main-content-top'>
                            <p>手机号码</p>
                            <input type="text" id='phone'>
                        </div>
                        <div class='modal-main-content-bottom'>
                            <p>留言详情</p>
                            <textarea></textarea>
                        </div>
                        <p>
                            <span></span> /
                            <span>200</span>
                        </p>
                        <div class='modal-main-content-go'>
                            发 送
                        </div>
                    </div>

                </div>
            </div>   
		</div>
        <!--模态框结束-->
    </div>   
            </div>
            <div class='insertright'>
                <div class='news-dong'>
                     <p>供应产品</p>
                </div>

                <div class='products clearfix'>
                    <div class='products-top'>
                         <div class='products-top-fl'>
                             <span>所有产品</span>
                             <!--&gt 夹克-->
                             <span></span>
                         </div>  
                         <div class='products-top-fr'>
                             <p>共搜索到<span>8</span>个符合条件的产品</p>
                         </div>
                    </div>
                    <div class='products-bottom'>
                        <li class='products-bottom-li' data-id=2>
                            <p>
                                办公桌椅
                                <!--办公桌椅0(<span class='products-case'>12</span>)-->
                            </p>
                        </li>
                        <li class='products-bottom-li'>
                            <p>
                                办公桌椅办公桌椅办公桌椅
                                <!--办公桌椅0(<span class='products-case'>12</span>)-->
                            </p>
                        </li>
                        <ul class='products-bottom-ul' id=''>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅  
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                                <li>
                                    四角桌椅
                                </li>
                        </ul>
                    </div>
                </div>

                <div class='integrate clearfix'>
                    <button class='integrate-fl'>
                         综合  
                    </button>
                    <button class='integrate-btn'>
                        <span>最新</span>
                        <span class=''>↓</span>
                    </button>
                    <button class='integrate-btn'>
                        <span>价格</span>
                        <span>↓</span>
                    </button>
                    <div class='integrate-pai'>
                        <span>¥</span>
                        <input type="text">
                    </div>
                    <div class='integrate-jian'>-</div>
                    <div class='integrate-pai'>
                        <span>¥</span>
                        <input type="text">
                    </div>
                    <button class='integrate-fl'>
                         确定 
                    </button>
                </div> 

                <div class='insertright-bottom-img clearfix'>
                    <li>
                        <a href="">
                            <img src="../../img/case.png" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/case.png" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/case.png" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/logo.jpg" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/logo.jpg" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="../../img/logo.jpg" alt="">
                            <p class='insertright-bottom-p1'>厂家直销 儿童台布 主题酒店桌布 台布布宝宝宴卡通台布卡通台布</p>
                            <p class='insertright-bottom-p2'>￥51.00</p>
                        </a>
                    </li>
                </div> 
                <div class='fenye clearfix'>
                    <div class='fenye-pro'>
                        <a href="">
                        <i class="glyphicon glyphicon-left"></i><span>上一页</span>
                        </a>
                    </div>
                    <div class='fenye-main'>
                        <a href=""><li class='fenye-main-li active3'>1</li></a>
                        <a href=""><li class='fenye-main-li'>2</li> </a>                            
                        <span>...</span>
                        <a href=""><li class='fenye-main-li'>3</li></a>
                    </div>
                    <div class='fenye-pro'>
                        <a href=""><span>下一页</span><i class="glyphicon glyphicon-right"></i></a>
                    </div>
                    <div class='fenye-gong'>
                        共<span>100</span>页，到
                    </div>
                    <div class='fenye-in'>
                        第 <input type="text"> 页
                    </div>
                    <div class='fenye-que'>
                        确定
                    </div>
                </div>         
            </div>
        </div> 
        <!--主体结束-->

        <!--底部开始-->
        <!--底部结束-->
    </div>
    <div class='root'>
        <p class='root-f'>绍兴市柯桥区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-t'>增值电信业务经营许可证:京ICP证010051号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
     </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/product.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
<script type="text/javascript" src="../js/master-left.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
</html>