<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>公司介绍</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/recommend.css">
    <link rel="stylesheet" href="../styles/fontCase.css">
    <link rel="stylesheet" href="../styles/master-left.css">
    <link rel="stylesheet" href="../styles/master-top.css">
    <link rel="stylesheet" href="../styles/master-bottom.css"> 
</head>
<body>
    <div class='recommend clearfix'>
        <!--这里插入顶部母版页-->
            <div class='upper'>
        <div class='upper-top clearfix'>
            <div class='upper-top-l fl'>
                <span class='fl-l'>欢迎来到美猴王平台</span>
                <ul class='fl-r'>
                    <li class='fl-login'><a href="#">请登录</a></li>
                    <li class='fl-enroll'><a href="#">免费注册</a></li>
                </ul>
            </div>
            <div class='upper-top-r fr'>
                <ul class='collect'>
                    <li class='collect-first'>
                        <img src="../../img/mhw.jpg" alt="">
                        <a href="#">美猴王首页</a>
                    </li>
                    <li><a href="#">卖家中心</a></li>
                    <li><a href="#">用户中心</a></li>
                    <li><a href="#">收藏夹</a></li>
                    <li><a href="#">网站导航</a></li>
                    <li class='collect-last'><a href="#">帮助</a></li>
                </ul>
            </div>
        </div>
        <div class='upper-center clearfix'>
            <div class='logo'>
                <img src="../../img/Image2.jpg" alt="">
            </div>
            <div class='upper-center-center clearfix'>
                <div class='huashe'>
                    <p class='huashe-t'  onmouseover="this.title='华舍官方网华舍官方网风器网风器凤'">华舍官方网华舍官方网风器网风器凤</p>
                    <p class='huashe-b'>品牌：欧式餐桌，婚用餐桌</p>
                </div>
                <div class='attes'>
                    <div class='attes-a'>
                        <img src="../../img/Image2.jpg" alt="">
                        <p>3年</p>
                    </div>
                    <div class='attes-a'>
                        <img src="../../img/Image2.jpg" alt="">
                        <p>企业诚信认证</p>
                    </div>
                    <div class='attes-a'>
                        <img src="../../img/Image2.jpg" alt="">
                        <p>卖家保障</p>
                    </div>
                </div>
                <div class='erwei'>
                    <img src="../../img/erweima.png" alt="">
                </div>
            </div>
            <div class='search clearfix'>
                <div class='search-t'>
                    <select>
                        <option value ="volvo">全站</option>
                        <option value ="saab">本店</option>
                    </select>
                    <input type="text">  
                    <button>搜索</button>
                </div>
                <div class='srarch-b'>
                    <ul>
                        <li><a href="#">面料</a></li>
                        <li><a href="#">服装</a></li>
                        <li><a href="#">螺丝刀</a></li>
                        <li><a href="#">美妆</a></li>
                        <li><a href="#">好人卡</a></li>
                        <li><a href="#">绿色大礼包</a></li>
                        <li class='srarch-b-last'><a href="#">礼盒</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--鼠标经过显示二维码-->
        <div class='upper-xian'>
            <img src="../../img/gongsi.png" alt="">
        </div>
        <div class='tonglan'>
            <img src="../../img/tonglan.jpg" alt="">
        </div>

        <div class='upper-bottom'>
            <ul>
                <li>首页</li>
                <li>公司介绍</li>
                <li>供应产品</li>
                <li>公司相册</li>
                <li>公司动态</li>
                <li>公司档案</li>
                <li class='upper-bottom-last'>联系我们</li>
            </ul> 
        </div>
    </div>
        <div class='main clearfix'>
            
                    <div class='record'>
        <div class='company'>
            <div class='company-record'>企业档案</div>
            <div class='company-shaoxing'>绍兴市柯桥区华舍余鑫家纺厂</div>
            <div class='information'>
                <li class='information-block'>余鑫&nbsp;&nbsp;先生</li>
                <li class='information-block'>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话:&nbsp;&nbsp;&nbsp;0571-86191919</li>
                <li class='information-block' onmouseover="this.title='厂家直销宝宝宴卡夫卡布布料批发'">经营范围: 服装纺织服装纺织服装纺织</li>
                <li class='information-block'>成立时间: 2017-07-01</li>
                <li class='information-block'>所在地区: 浙江省绍兴市</li>
                <li class='information-block' onmouseover="this.title='河南省商丘市柘城县工商局认证'">工商注册信息: 河南省商丘市柘城县工商局认证</li>
            </div>
            <div class='collect1'>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-collect-in"></i><p>收藏公司</p>
                </div>
                <div class='collect1-store'>
                    <i class="glyphicon glyphicon-chart"></i><p>在线咨询</p>
                </div>
            </div>
        </div>

        <div class='product clearfix'>
            <div class='company-record'>产品分类</div>
            <ul class='company-caidan'>
                <li class="firstt">
                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>办公桌椅</p>
                    <ul class='teshu clearfix'>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>婚用座椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>欧式餐桌</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>电脑桌椅</p></li>
                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>吧台桌椅</p></li>
                        <li class="firstt">
                            <i class="glyphicon glyphicon-add"></i><p class='first-wen'>创意桌椅</p>
                            <ul class='teshu'>
                                <li class="firstt">
                                    <i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅1</p>
                                    <ul class='teshu'>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                        <li class="firstt"><i class="glyphicon glyphicon-add"></i><p class='first-wen'>桌椅2</p></li>
                                    </ul>
                                </li>       
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--模态框开始-->
        <div class="m-modal1">
            <div class="m-modal-dialog1 clearfix">
                <div class='modal-main-left1'>
                    <div class='modal-left-top'>
                        <p>给我留言</p>
                    </div>
                    <div class='modal-main-more'>
                        <p>注:</p>
                        <p>1.商家会在24小时内与您联系，请确保手机畅通。</p>
                        <p>2.盘石平台会确保您的手机号码不被泄露给其他平台，请放心填写。</p>
                    </div>
                    <div class='modal-main-rad'>
                        <p>留言主题:</p> 
                        <form action="" method="get">
                            <label><input name="liuyan" type="radio" value="" /> 价格 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 物流咨询 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 售后 </label> 
                            <label><input name="liuyan" type="radio" value="" /> 商品详情 </label>
                        </form> 
                    </div>
                </div>
                <div class='modal-main-right1'>
                    <div class='modal-main-shao'>
                        <p>绍兴市柯桥市区华舍宇鑫家纺厂舍宇鑫家纺厂</p>
                        <div class="m-modal-close1 m-close">&times;</div>
                    </div>
                    <div class='modal-main-content'>
                        <div class='modal-main-content-top'>
                            <p>具体称呼</p>
                            <input type="text">
                        </div>
                        <div class='modal-main-content-top'>
                            <p>手机号码</p>
                            <input type="text" id='phone'>
                        </div>
                        <div class='modal-main-content-bottom'>
                            <p>留言详情</p>
                            <textarea></textarea>
                        </div>
                        <p>
                            <span></span> /
                            <span>200</span>
                        </p>
                        <div class='modal-main-content-go'>
                            发 送
                        </div>
                    </div>

                </div>
            </div>   
		</div>
        <!--模态框结束-->
    </div>            
            <div class='mian-content clearfix'>
                <div class='survey'>
                    <div class='survey-company'>
                        <p>公司概况</p> 
                    </div>
                    <div class='survey-introduct'>
                        <img src="../../img/Image.jpg" alt="">
                        <p>关于AVA广州市奥威亚电子科技有限公司（简称 AVA）是视音频采集与传输、图像识别等领域处于领先地位的软件研发及产品制造商之一。主要产品包括：录播系统、跟踪系统、庭审及审讯系统等视音频采集与传输设备。AVA凭着公司雄厚的技术力量及优质完善的服务网络，产品遍及世界各地，得到业界的广泛认可，众多核心技术成为业界的标准。AVA一直奉行"客户为先、技术为先"的原则。本着"诚信、优质、专业"的服务理念，能根据不同行业的应用特点为广大用户提供针对性极强的行业解决方案。目前，AVA已取得高新企业认证、软件企业认证、ISO9001认证、ISO14001认证、CCC认证、FCC证书、CE认证、RoHS环保证书、实用新型专利证书、中央电教馆专家鉴定证书等多项企业和产品品质认证。AVA愿和广大合作伙伴携手并肩。</p>
                    </div>
                </div>
                <div class='diploma clearfix'>
                    <div class='survey-company'>
                        <p>基础证书</p> 
                    </div>
                    <div class='diploma-img'>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案http://localhost:8080/src/view/recommend.html登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                    </div>
                </div>
                <div class='credit clearfix'>
                    <div class='survey-company'>
                        <p>信誉证书</p> 
                    </div>
                    <div class='diploma-img'>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备自理报检单位备案登记证明书自理报检单位备案登记证明书案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/Image1.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书</p>
                        </li>
                        <li class='diploma-img-li'>
                            <img src="../../img/logo.jpg" alt="">
                            <p>自理报检单位备案登记证明书自理报检单位备案登记证明书0000</p>
                        </li>
                    </div>
                </div>
            </div>
        </div>
        <!--模态框开始-->
        <div class="m-modal">
            <div class="m-modal-dialog">
                <div class="m-modal-close m-close">&times;</div>
                <img src="" alt="">
                <!--<p></p> -->
                <table class='m-table'>
                    <tr>
                        <td class='m-first'>证书名称</td>
                        <td class='m-last'>中国人民共和国国人民共和国组织机构代国人民共和国组织机构代组织机构代码证</td>
                    </tr>
                    <tr>
                        <td class='m-first'>生效日期 </td>
                        <td class='m-last'>2014-10-10</td>
                    </tr>
                    <tr>
                        <td class='m-first'>截止日期</td>
                        <td class='m-last'>2018-10-20</td>
                    </tr>
                    <tr>
                        <td class='m-first'>证书编号</td>
                        <td class='m-last'>12554659</td>
                    </tr>
                    <tr>
                        <td class='m-first'>发证机构</td>
                        <td class='m-last'>相关机构</td>
                    </tr>
                    <tr>
                        <td class='m-first'>认证机构电话</td>
                        <td class='m-last'>123546</td>
                    </tr>
                    <tr>
                        <td class='m-first'>认证机构网址</td>
                        <td class='m-last'><a href="https://www.baidu.com">https://www.baidu.com</a></td>
                    </tr>
                </table>
            </div>   
		</div>
        <!--模态框结束-->
        <!--引入底部母版页-->
        
    </div>
    <div class='root'>
        <p class='root-f'>绍兴市柯桥区华舍余鑫家纺厂&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;地址:浙江省绍兴市柯桥区华舍山阴路武警部队对面&nbsp;&nbsp;&nbsp;&nbsp;电话:0318-5339600&nbsp;&nbsp;&nbsp;&nbsp;18632069699</p>
        <p class='root-t'>增值电信业务经营许可证:京ICP证010051号&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;隐私声明|免责声明|技术支持:浙江盘石信息技术有限公司</p>
     </div>
</body>
<script type="text/javascript" src="../../jquery-1.11.1.js"></script>
<script type="text/javascript" src="../js/master-top.js"></script>
<script type="text/javascript" src="../js/modal.js"></script>
<script type="text/javascript" src="../js/rem.js"></script>
<script type="text/javascript" src="../js/master-left.js"></script>
<script type="text/javascript" src="../js/common.js"></script>
<script type="text/javascript" src="../js/recommend.js"></script>
</html>